@mixin navStyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94.5%;
    margin: 0 auto;
    height: 80px;
}

@mixin fontStyle($weight, $size) {
    font-family: Catamaran;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
}

@mixin inputBelowHeader($width, $height, $font) {
    border: 3px solid #F2994A;
    box-sizing: border-box;
    border-radius: 100px;
    margin-bottom: -40px;
    margin: 0 auto;
    height: $height;
    width: $width;
    padding: 20px;
    text-align: center;
    outline: none;
    font-size: 18px;
    &::placeholder {
        color: $lightGrey;
        font-size: $font;
        text-align: center;
    }
}